<div ng-controller="classes as cl">
    <div class="row" ng-show="studentAdminClasses.length == 0">
        <h3>You do not appear to moderate any classes....</h3>
        <button type="button" class="btn btn-primary" ng-click="openAddClass()">Add Class</button>
        <p>Feel free to create a new class for others to join.</p>
    </div>
    <div class="row-fluid" ng-hide="studentAdminClasses.length == 0">
        <button type="button" class="btn btn-primary pull-right" ng-click="openAddClass()">Add Class</button>
        <h3>Your Classes</h3>
    </div>
    <div class="row" ng-hide="studentAdminClasses.length == 0">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <tbody> 
                <tr ng-repeat-start="class in studentAdminClasses track by $index">
                    <td>{{ class.name }}</td>
                    <td>{{ class.short_desc }}</td>
                    <td>
                        <button class="btn-sm btn-info" data-toggle="collapse" 
                            data-target="#more{{$index}}" 
                            ng-click='getStudents(class["classID"])'>
                            <i class="material-icons md-48" style="vertical-align: middle;">info</i>
                        </button>
                        <button class="btn-sm btn-warning" ng-click="openAddClass(class)">
                            <i class="material-icons md-48" style="vertical-align: middle;">assignment</i> 
                        </button>
                        <button class="btn-sm btn-danger" ng-click='deleteClass(class["classID"])'>
                            <i class="material-icons md-48" style="vertical-align: middle;">delete</i> 
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end> 
                    <td colspan="3" style="border-top: none">
                        <div id="more{{$index}}" class="collapse">
                            {{class.long_desc}}
                            <div>
                                <table class="table">
                                    <thead>
                                        <th>Name</th>
                                        <th>Email</>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="student in studentList">
                                            <td>{{student.firstName}} {{student.lastName}}</td>
                                            <td>{{student.email}}</td>
                                            <td>
                                            <button class="btn-sm btn-danger" 
                                                ng-click='removeStudent(class["classID"], student["studentID"])'>
                                                <i class="material-icons md-48" 
                                                    style="vertical-align: middle;">delete</i>
                                            </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-hide="studentClasses.length==0">
        <h3>Classes Participating In</h3>
        <button type="button" class="btn btn-primary" ng-click="openClassSearch()">Find a Class</button>
    </div>
    <div class="row" ng-show="studentClasses.length==0">
        <button type="button" class="btn btn-primary" ng-click="openClassSearch()">Find a Class</button>
    </div>
    <div class="row" ng-hide="studentClasses.length==0">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <tbody> 
                <tr ng-repeat-start="class in studentClasses track by $index">
                    <td>{{ class.name }}</td>
                    <td>{{ class.short_desc }}</td>
                    <td>
                        <button class="btn-sm btn-info" data-toggle="collapse" data-target="#av_more{{$index}}">
                            <i class="material-icons md-48" style="vertical-align: middle;">info</i>
                        </button>
                        <button class="btn-sm btn-danger" 
                            ng-click='removeStudent(student["studentID"], class["classID"])'>
                            <i class="material-icons md-48" style="vertical-align: middle;">delete</i> 
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end> 
                    <td colspan="3" style="border-top: none">
                        <div id="av_more{{$index}}" class="collapse">{{class.long_desc}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </row>

</div>
