    
<!-- Modal content-->
<div id="joinModal" class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Join Classes</h4>
    </div>
    <div class="modal-body">
        <p> Enter a search query to find a set of classes to join.</p>
        <div class = "row">
        <div class = "col-md-12">        
        <form class="form">
            <div class="pull-right">
                <label><h5>Search</h5></label>
                <input type="text" placeholder="Class Name...." name="input" ng-model="classSearch">
            </div>
            <table class="table" ng-hide="classSearchResult.length==0">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                </thead>
                <tbody> 
                    <tr ng-repeat-start="class in classSearchResult track by $index">
                        <td>{{ class.name }}</td>
                        <td>{{ class.short_desc }}</td>
                        <td>
                            <button class="btn-sm btn-info" data-toggle="collapse" 
                                data-target="#result_more{{$index}}">
                                <i class="material-icons md-48" style="vertical-align: middle;">info</i>
                            </button>
                        </td>
                        <td>
                            <input type="checkbox" name="check$index" ng-model= "selected[$index]"
                            ng-true-value="true" ng-false-value="false"></input> 
                        </td>
                    </tr>
                    <tr ng-repeat-end> 
                        <td colspan="3" style="border-top: none">
                            <div id="result_more{{$index}}" class="collapse">{{class.long_desc}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div><!-- end col-->
        </div><!-- end row-->
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" ng-show="classSearchResult.length == 0 && !emptyQuery()">
                    Your query returned no results. Please try again.
                </p>
                <p class="text-center" ng-show="classSearch == ''">
                    Please enter a valid search query.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="onOkClick()">Add Selected</button>
    </div>
</div>

